$white:#fff;
$green1:#A8D5BA;
$green2:#7ad4a9;
$green3:#B8FFF9;
$yellow:#fffec1;

@mixin flex($j,$a){
    display: flex;
    justify-content: $j;
    align-items: $a;

}

@mixin w_h($w,$h){
    width: $w;
    height: $h;
}