* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  background: #fff;
}

.todo_head {
  width: 98%;
  height: 10%;
  background: #7ad4a9;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border-radius: 7px;
  margin: 10px auto 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo_head .header_left h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
  -webkit-text-stroke: 1px rgb(255, 251, 173);
  font-style: italic;
}
.todo_head .header_right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
  height: 100%;
}
.todo_head .header_right a {
  width: 30%;
  height: auto;
  margin-left: 30px;
  color: #6b6b6b;
  transition: 0.2s;
  font-size: 19px;
}
.todo_head .header_right a:hover {
  transform: scale(1.1);
  color: #fffec1;
}
.todo_head .header_right .search_box {
  width: 70%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
}
.todo_head .header_right .search_box input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  color: #8c8c8c;
}
.todo_head .header_right .search_box #search_icon {
  color: #8c8c8c;
  cursor: pointer;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container_left {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container_left .list_holder {
  width: 550px;
  height: 600px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background: #7ad4a9;
  border-radius: 10px;
}
.container .container_left .list_holder .list_head {
  width: 97%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 10px;
  background: #fff;
}
.container .container_left .list_holder .list_head h3 {
  font-size: 23px;
  color: #6b6b6b;
}
.container .container_left .list_holder .list {
  width: 97%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
  overflow-y: auto;
}
.container .container_left .list_holder .list .empty {
  margin-top: 125px;
  font-size: 30px;
  color: #8c8c8c;
  border: 2px solid #ababab;
  padding: 40px;
  border-radius: 12px;
}
.container .container_left .list_holder .list .list_text {
  width: 97%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  background: #fffec1;
  margin: 10px 0;
  padding: 12px 7px;
  border-radius: 7px;
  position: relative;
}
.container .container_left .list_holder .list .list_text p {
  width: 95%;
  height: auto;
  padding: 12px 7px;
  word-wrap: break-word;
  line-height: 26px;
  color: #4c4c4c;
  font-size: 18px;
  text-align: justify;
  font-family: "Inter", sans-serif;
}
.container .container_left .list_holder .list .list_text p.checked {
  text-decoration: line-through;
  color: #747474;
}
.container .container_left .list_holder .list .list_text .time {
  font-size: 13px;
  color: #575757;
  display: block;
  position: absolute;
  top: 6px;
  right: 7px;
}
.container .container_left .list_holder .list .list_text .material-icons {
  position: absolute;
  color: #575757;
  font-size: 17px;
  right: 31px;
  bottom: 6px;
  cursor: pointer;
}
.container .container_left .list_holder .list .list_text .material-symbols-outlined {
  font-size: 17px;
  position: absolute;
  bottom: 6px;
  right: 8px;
  cursor: pointer;
  color: #656565;
}
.container .container_right {
  background: #fffec1;
  width: 50%;
  height: 100%;
}/*# sourceMappingURL=liststyle.css.map */